<div data-collapse="none" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-3 w-nav">
    <div class="container-3 w-container">
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <div class="div-block-18">
          <a href="{{ links.3c7fdf2c }}" class="nav-link fibra w-nav-link">{{ texts.38c07af3 }}</a>
          <a href="{{ links.2ab40857 }}" class="nav-link fibra w-nav-link">{{ texts.6bdf2a3d }}</a>
          <a href="{{ links.-7d2cf633 }}" class="nav-link fibra w-nav-link">{{ texts.57822033 }}</a>
        </div>
        <div>
          <a href="{{ links.20d5fd99 }}" class="contacto-fibra">{{ texts.229e3429 }}</a>
        </div>
      </nav>
      <div class="menu-button-2 w-nav-button">
        <div class="icon-5 w-icon-nav-menu"></div>
      </div>
      <a href="{{ links.-2c4698f7 }}" class="brand-2 w-nav-brand">
        <div class="logo-fibra micro">{{ texts.1997a4c9 }}</div>
        <div class="logo-fibra">{{ texts.3fc9e4e }}</div>
        <div class="logo-fibra small">{{ texts.8a93c66 }}</div>
      </a>
    </div>
  </div>