<div id="productos" class="section-productos-fibra wf-section">
    <div class="container-center-90-width">
      <div class="div-block-16 vertical">
        <h2 class="heading-2 center">{{ texts.-7b45329e }}</h2>
        <p class="paragraph dark medium center">{{ texts.16abf1cd }}</p>
      </div>
      <div class="div-block-16">
        <div class="div-30percent-vertical-fibra">
          <a href="{{ links.6caf2458 }}" class="link-block-cuadrado-full-width w-inline-block">
            <div class="div-imagen-menu celosia"></div>
          </a>
          <div class="contenedor-divs-proyectos">
            <h3 class="h3">{{ texts.772c9f24 }}</h3>
            <p class="paragraph dark small center">{{ texts.-740f8bc4 }}</p>
            <a href="{{ links.6caf2458 }}" class="link-text big-underline">{{ texts.-3489eade }}</a>
          </div>
        </div>
        <div class="div-30percent-vertical-fibra">
          <a href="{{ links.-f8573db }}" class="link-block-cuadrado-full-width w-inline-block">
            <div class="div-imagen-menu alamedida _02"></div>
          </a>
          <div class="contenedor-divs-proyectos">
            <h3 class="h3">{{ texts.-4ee4f0e7 }}</h3>
            <p class="paragraph dark small center">{{ texts.194ac239 }}</p>
            <a href="{{ links.-f8573db }}" target="_blank" class="link-text big-underline">{{ texts.-3489eade }}</a>
          </div>
        </div>
        <div class="div-30percent-vertical-fibra">
          <a href="{{ links.3da7538a }}" class="link-block-cuadrado-full-width w-inline-block">
            <div class="div-imagen-menu alamedida"></div>
          </a>
          <div class="contenedor-divs-proyectos">
            <h3 class="h3">{{ texts.-97ab69f }}</h3>
            <p class="paragraph dark small center">{{ texts.5d63d212 }}</p>
            <a href="{{ links.3da7538a }}" class="link-text big-underline">{{ texts.-3489eade }}</a>
          </div>
        </div>
        <div class="div-30percent-vertical-fibra">
          <a href="{{ links.-4335ee79 }}" class="link-block-cuadrado-full-width w-inline-block">
            <div class="div-imagen-menu mobiliario"></div>
          </a>
          <div class="contenedor-divs-proyectos">
            <h3 class="h3">{{ texts.-75a8523 }}</h3>
            <p class="paragraph dark small center">{{ texts.95ba8ab }}</p>
            <a href="{{ links.-4335ee79 }}" class="link-text big-underline">{{ texts.-3489eade }}</a>
          </div>
        </div>
      </div>
      <div id="servicios-fibra" class="div-block-servicios-contenedor">
        <h2 id="servicios-fibra" class="heading-2 center serviciosfibra">{{ texts.272fb5d8 }}</h2>
        <div class="div-block-servicios">
          <div class="div-30percent-vertical-fibra justify-center-servicios">
            <a href="{{ links.525165e8 }}" class="link-block-cuadrado-full-width w-inline-block"></a>
            <h3 class="h3">{{ texts.4c2ae9e0 }}</h3>
            <p class="paragraph dark small center">{{ texts.9b5b4b8 }}<strong>{{ texts.732a2cb4 }}</strong>{{ texts.14832bba }}</p>
            <a href="{{ links.20d5fd99 }}" class="boton-naranja w-button">{{ texts.29102491 }}</a>
            <div class="div-center-vertical"></div>
          </div>
          <div class="div-30percent-vertical-fibra justify-center-servicios">
            <a href="{{ links.525165e8 }}" class="link-block-cuadrado-full-width w-inline-block"></a>
            <h3 class="h3">{{ texts.-6bc47ee }}</h3>
            <p class="paragraph dark small center">{{ texts.-4bcf5acb }}<strong>{{ texts.-de49614 }}</strong>{{ texts.5fc8e75c }}</p>
            <a href="{{ links.20d5fd99 }}" class="boton-naranja w-button">{{ texts.29102491 }}</a>
            <div class="div-center-vertical"></div>
          </div>
          <div class="div-30percent-vertical-fibra justify-center-servicios">
            <a href="{{ links.525165e8 }}" class="link-block-cuadrado-full-width w-inline-block"></a>
            <h3 class="h3">{{ texts.-1d66d1cf }}</h3>
            <p class="paragraph dark small center">{{ texts.-33880aa2 }}<strong>{{ texts.5151d566 }}</strong></p>
            <a href="{{ links.20d5fd99 }}" class="boton-naranja w-button">{{ texts.29102491 }}</a>
            <div class="div-center-vertical"></div>
          </div>
          <div class="div-30percent-vertical-fibra justify-center-servicios">
            <a href="{{ links.525165e8 }}" class="link-block-cuadrado-full-width w-inline-block"></a>
            <h3 class="h3">{{ texts.-69f3c74d }}</h3>
            <p class="paragraph dark small center">{{ texts.7af6bfc5 }}<strong>{{ texts.732a2cb4 }}</strong>{{ texts.2e }}</p>
            <a href="{{ links.20d5fd99 }}" class="boton-naranja w-button">{{ texts.29102491 }}</a>
            <div class="div-center-vertical"></div>
          </div>
        </div>
      </div>
    </div>
  </div>