<div class="div-horizontal-con-espacio-superior">
      <div class="div-25percent">
        <a href="{{ links.6f319201 }}" class="link-block cuadrado w-inline-block">
          <div class="imagen-boton-cuadrado-ixtle"></div>
        </a>
        <div class="div-center-vertical">
          <h3 class="h3">{{ texts.-192cf145 }}</h3>
          <a target="_blank" href="{{ links.525165e8 }}" aria-current="page" class="link-text big-underline w--current">{{ texts.-3489eade }}</a>
        </div>
      </div>
      <div class="div-25percent">
        <a href="{{ links.23 }}" class="link-block cuadrado w-inline-block">
          <div class="imagen-boton-cuadrado-encapsulados"></div>
        </a>
        <div class="div-center-vertical">
          <h3 class="h3">{{ texts.467dcb00 }}</h3>
          <a target="_blank" href="{{ links.525165e8 }}" aria-current="page" class="link-text big-underline w--current">{{ texts.-3489eade }}</a>
        </div>
      </div>
      <div class="div-25percent">
        <a href="{{ links.6f319201 }}" class="link-block cuadrado w-inline-block">
          <div class="imagen-boton-cuadrado-policarbonato"></div>
        </a>
        <div class="div-center-vertical">
          <h3 class="h3">{{ texts.-5686ec5 }}</h3>
          <a target="_blank" href="{{ links.525165e8 }}" aria-current="page" class="link-text big-underline w--current">{{ texts.-3489eade }}</a>
        </div>
      </div>
      <div class="div-25percent">
        <a href="{{ links.6f319201 }}" class="link-block cuadrado w-inline-block">
          <div class="imagen-boton-cuadrado-vidrio"></div>
        </a>
        <div class="div-center-vertical">
          <h3 class="h3">{{ texts.-14890b6b }}</h3>
          <a target="_blank" href="{{ links.525165e8 }}" aria-current="page" class="link-text big-underline w--current">{{ texts.-3489eade }}</a>
        </div>
      </div>
      <div class="div-25percent">
        <a href="{{ links.6f319201 }}" class="link-block cuadrado w-inline-block">
          <div class="imagen-boton-cuadrado-lona"></div>
        </a>
        <div class="div-center-vertical">
          <h3 class="h3">{{ texts.6d2cb709 }}</h3>
          <a target="_blank" href="{{ links.525165e8 }}" aria-current="page" class="link-text big-underline w--current">{{ texts.-3489eade }}</a>
        </div>
      </div>
    </div>